@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    --nav-width: 200px;
    margin:0 0 0 var(--nav-width);
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}
.nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #222222;
    height: 100vh;
    width: var(--nav-width);
}
.nav__link{
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 18px;
    font-weight: 500;
}
.nav__link:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
#app{
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}
a{
    color: #009579;
}